#inicio{
	text-align:center;
}

a{
	color: #2d99f1;
}

body{
	text-align:left;
	background-color: #202124;
	color: darkgray;
	padding: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

#loader{
	text-align:center;
}


